.w3-progress-container {
   /*width:90%;*/
   height:0.7em;
   position:relative;
   background-color:#fff;
   margin-bottom: 20px;

   transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.w3-progress-container:hover {
   opacity: 0.5;
}

.w3-progressbar {
   background: rgba(212, 164, 189,1);
   background: -moz-linear-gradient(left, rgba(212, 164, 189,1) 0%, rgba(183, 114, 150,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 164, 189,1)), color-stop(100%, rgba(183, 114, 150,1)));
   background: -webkit-linear-gradient(left, rgba(212, 164, 189,1) 0%, rgba(183, 114, 150,1) 100%);
   background: -o-linear-gradient(left, rgba(212, 164, 189,1) 0%, rgba(183, 114, 150,1) 100%);
   background: -ms-linear-gradient(left, rgba(212, 164, 189,1) 0%, rgba(183, 114, 150,1) 100%);
   background: linear-gradient(to right, rgba(212, 164, 189,1) 0%, rgba(183, 114, 150,1) 100%);
   height:100%;
   position:absolute;
   line-height:inherit;
}
