/* label color */
.input-field label {
   color: #6C7A89;
}

/* label focus color */
.input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label, textarea.materialize-textarea:focus:not([readonly])+label{
   color: #6C7A89;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, textarea.materialize-textarea:focus:not([readonly]){
   border-bottom-color: #6C7A89;
   box-shadow: 0 1px 0 0 #6C7A89;
}

input[type=text], input[type=email], textarea.materialize-textarea {
   border-bottom-color: #6C7A89;
   /*padding-left: 10px;*/
   color: #6C7A89;
}

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder{ /* WebKit browsers */
   color: #6C7A89;
   /*padding-left: 10px;*/
}

/*All Valid Fields*/
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{
   border-bottom: 1px solid #6C7A89;
   box-shadow: 0 1px 0 0 #6C7A89;
}

/*All Invalid Fields*/
input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid{
   border-bottom: 1px solid #6C7A89;
   box-shadow: 0 1px 0 0 #6C7A89;
}

/*textarea.materialize-textarea:focus:not([readonly])+label{
   color: #6C7A89;
}*/
