@import url("bouncing-arrow.css");

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body{
   height: 100%;
}

body {
   /*font-family: "Raleway", sans-serif;*/
   font-family: "Open Sans", sans-serif;
   margin: 0;
   background-color: #EEEEEE;
}

a{
   text-decoration: none;
}

.inlay {
   height: 100%;
   text-align: center;
}

.inlay img {
   vertical-align: middle;
}
.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.main-section{
   background: url(../images/Image-1.png) no-repeat center center scroll;
   width: 100%;
   height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
   text-align: center;
}

.about-section{
   background: url(../images/Image-2.png) no-repeat center center scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}
.contact-section{
   background: url(../images/last-pg1.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}

#sticky.fixed {
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
}

.brand-logo img{
   height: 56px;
}

nav ul a, .nav-wrapper a i {
   color: black;
}

.container{
   padding-top: 5%;
}

.about-img{
   max-width: 100% !important;
   height: auto !important;
   width: auto !important;
}
