@import url("bouncing-arrow.css");
/*@import url("form-color.css");*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body{
   height: 100%;
   margin:0;
   padding: 0;
}

/* Loader Style */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_3.gif) center no-repeat #fff;
}

/* D3 Styles */
/*------------------------------------------*/
path {
  stroke: #fff;
  fill-rule: evenodd;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/*------------------------------*/

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   font-family: "Open Sans", sans-serif;
   margin: 0;
   background-color: #EEEEEE;
}

a{
   text-decoration: none;
   color: black;
}

.inlay {
   height: 100%;
   text-align: center;
}

.inlay img {
   vertical-align: middle;
}
.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

div#pinned-trigger1 nav{
    z-index:99 !important;
}

.main-section{
   background: url(../images/Image-1.png) no-repeat center center fixed;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   color: white;
   height: 100%;
   text-align: center;
}

.skills-section{
   /*height: 90% !important;*/
}

.about-section{
   background: url(../images/Image-2.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}
.experience-section{
   background: url(../images/Image-2.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}
.contact-section{
   background: url(../images/last-pg1.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
}

#sticky.fixed {
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
}

.brand-logo img{
   height: 56px;
   padding-top: 4px;
}

nav ul a, .nav-wrapper a i {
   color: black;
}

.container{
   padding-top: 5%;
}

.about-img{
   max-width: 100% !important;
   height: auto !important;
   width: auto !important;
}

button{
   text-align: center;
}

li.social {
   line-height: normal;
   display: inline;
   list-style-type: none;
   border: 2px solid #000;
   border-radius: 50%;
   padding: 15px;
}

.sub-text{
   font-size: 1.3em;
}

.footer{
   background:rgba(0,0,0,0.5);
}



/*-------------------------------*/


.social-icons li {
   display: inline-block;
   padding: 0 5px;
}

.light-text .social-icons .icon {
   color: #383A3C;
   background-color: #F5EEE3;
   -webkit-box-shadow: inset 0 0 0 2px #F5EEE3, inset 0 0 0 4px #383A3C;
   -moz-box-shadow: inset 0 0 0 2px #F5EEE3, inset 0 0 0 4px #383A3C;
   -o-box-shadow: inset 0 0 0 2px #F5EEE3, inset 0 0 0 4px #383A3C;
   box-shadow: inset 0 0 0 2px #F5EEE3, inset 0 0 0 4px #383A3C;
}

.social-icons .icon {
   line-height: inherit;
   display: inline-block;
   color: #F5EEE3;
   /*font-size: 45px;*/
   background-color: #383A3C;
   width: 70px;
   height: 70px;
   text-align: center;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   -webkit-box-shadow: inset 0 0 0 2px #383A3C, inset 0 0 0 4px #F5EEE3;
   -moz-box-shadow: inset 0 0 0 2px #383A3C, inset 0 0 0 4px #F5EEE3;
   -o-box-shadow: inset 0 0 0 2px #383A3C, inset 0 0 0 4px #F5EEE3;
   box-shadow: inset 0 0 0 2px #383A3C, inset 0 0 0 4px #F5EEE3;
}

.fa{
   vertical-align: middle;
}

/*--------------------------------------------------------------------------------*/
.button {
   display: inline-block;
   padding: 0.5em 1.0em;
   background: #EEE;
   border: none;
   border-radius: 7px;
   background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
   color: #222;
   font-family: sans-serif;
   font-size: 16px;
   text-shadow: 0 1px white;
   cursor: pointer;
}

.button:hover {
   background-color: #8CF;
   text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
   color: #222;
}

.button:active,
.button.is-checked {
   background-color: #28F;
}

.button.is-checked {
   color: white;
   text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
   box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
   margin-bottom: 20px;
}

.button-group:after {
   content: '';
   display: block;
   clear: both;
}

.button-group .button {
   float: left;
   border-radius: 0;
   margin-left: 0;
   margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
   /*border: 1px solid #333;*/
}

/* clear fix */
.grid:after {
   content: '';
   display: block;
   clear: both;
}

/* ---- .element-item ---- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .element-item{
        width: 100% !important;
    }

}

.element-item {
   position: relative;
   float: left;
   width: 150px;
   height: 150px;
   margin: 5px;
   padding: 10px;
   background: #888;
   color: #ffffff;
    z-index: 0;
}

.element-item.internships{
    width: 300px;
}

.element-item > * {
   margin: 0;
   /*padding: 0;*/
}

h3{
    font-size: 1.3em;
}

.element-item.projects{
   background: #c0392b;
}
.element-item.internships{
   background: #27ae60;
}
.element-item.freelancing{
   background: #2980b9;
}
