@import url("bouncing-arrow.css");
@import url("form-color.css");

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body{
   height: 100%;
   margin:0;
   padding: 0;
}

body {
   /*font-family: "Raleway", sans-serif;*/
   font-family: "Open Sans", sans-serif;
   margin: 0;
   background-color: #EEEEEE;
}

a{
   text-decoration: none;
   color: black;
}

.inlay {
   height: 100%;
   text-align: center;
}

.inlay img {
   vertical-align: middle;
}
.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.main-section{
   background: url(../images/Image-1.png) no-repeat center center fixed;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   color: white;
   height: 100%;
   text-align: center;
}

.about-section{
   background: url(../images/Image-2.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}
.skills-section{
   background-color: #CCCECE;
   background: url(../images/3rd-pg.png);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
   text-align: center;
}
.contact-section{
   background: url(../images/last-pg1.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: black;
}

#sticky.fixed {
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
}

.brand-logo img{
   height: 56px;
   padding-top: 4px;
}

nav ul a, .nav-wrapper a i {
   color: black;
}

.container{
   padding-top: 5%;
}

.about-img{
   max-width: 100% !important;
   height: auto !important;
   width: auto !important;
}

button{
   text-align: center;
}

.brand-logo{
}



/*ul {
list-style: none;
margin: 0 10px;
padding: 0;
}*/
li.social {
   display: inline;
   list-style-type: none;
   border: 2px solid #000;
   padding: 5px;
}

.sub-text{
   font-size: 1.3em;
}

.footer{
   background:rgba(0,0,0,0.5);
}
